@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

@theme {
  --color-accent: #38bdf8;
  --color-accent-focus: #00a6f4;
  --color-background: #111827;
  --color-secondary-background: #000000;
  --color-primary-color: #fff;
  --color-primary-accent-color: #fff;
  --color-input-color: #d1d5dc;
  --color-secondary-color: #99a1af;
  --color-gray-7: #364153;
  --color-gray-8: #1e2939;
  --color-gray-9: #101828;
  --color-tag-backgroud: #024a70;
  --color-tag-text: #74d4ff;
  --color-card-link: #00bcff;
}

.light {
  --color-accent: #d97706;
  --color-accent-focus: #bb4d00;
  --color-background: #fffbeb;
  --color-secondary-background: #fef3c6;
  --color-primary-color: #57534e;
  --color-primary-accent-color: #fff;
  --color-input-color: #000000;
  --color-secondary-color: #3c3c3c;
  --color-gray-7: #d97706;
  --color-gray-8: #f3f4f6;
  --color-gray-9: #fff;
  --color-tag-text: #973c00;
  --color-card-link: #973c00;
  --color-tag-backgroud: #fef3c6;
}

body {
  font-family: 'JetBrains Mono', sans-serif;
}
