@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

@theme {
  --color-accent: var(--color-sky-400);
  --color-accent-focus: var(--color-sky-500);
  --color-background: var(--color-slate-900);
  --color-secondary-background: var(--color-black);
  --color-primary-color: var(--color-white);
  --color-primary-accent-color: var(--color-sky-400);
  --color-input-color: var(--color-gray-300);
  --color-secondary-color: var(--color-gray-400);
  --color-card-surface: var(--color-gray-800);
  --color-card-accent: var(--color-gray-700);
  --color-input: var(--color-gray-800);
  --color-input-accent: var(--color-gray-700);
  --color-header: var(--color-gray-900);
  --color-header-line: var(--color-gray-700);
  --color-btn-text: var(--color-gray-900);
  --color-tag: var(--color-sky-900);
  --color-tag-text: var(--color-sky-300);
  --color-card-link: var(--color-sky-400);
}

.light {
  --color-accent: var(--color-orange-400);
  --color-accent-focus: var(--color-orange-500);
  --color-background: var(--color-yellow-50);
  --color-secondary-background: var(--color-yellow-100);
  --color-primary-color: var(--color-stone-600);
  --color-primary-accent-color: var(--color-stone-800);
  --color-input-color: var(--color-black);
  --color-secondary-color: var(--color-neutral-700);
  --color-card-surface: var(--color-gray-50);
  --color-card-accent: var(--color-orange-400);
  --color-input: var(--color-gray-50);
  --color-input-accent: var(--color-gray-700);
  --color-header: var(--color-white);
  --color-header-line: var(--color-orange-700);
  --color-btn-text: var(--color-white);
  --color-tag: var(--color-orange-300);
  --color-tag-text: var(--color-orange-800);
  --color-card-link: var(--color-orange-800);
  --color-tag-backgroud: var(--color-yellow-200);
}

body {
  font-family: 'JetBrains Mono', sans-serif;
}
